/chapter1/section1/casm-c-sample.bin
/chapter1/section3/ndisasm/casm-c-sample.bin
/chapter1/section3/objdump/casm-c-sample.o

/chapter2/section1/casm-c-sample.o
/chapter2/section2/casm-c-sample.o
/chapter2/section3/main.o
/chapter2/section3/px86
/chapter2/section3/helloworld.bin
/chapter2/section5/evil/evil.o
/chapter2/section5/undefined-behavior/casm-c-sample.o

/chapter3/section02/*.bin
/chapter3/section02/*.o
/chapter3/section02/px86
/chapter3/section04/*.bin
/chapter3/section04/*.o
/chapter3/section04/px86
/chapter3/section06/*.bin
/chapter3/section07/*.bin
/chapter3/section07/*.o
/chapter3/section07/px86
/chapter3/section10/*.bin
/chapter3/section10/*.o
/chapter3/section10/px86
/chapter3/section12/*.bin
/chapter3/section12/*.o
/chapter3/section12/px86
